@import 'ThemeToggle.part.css';
@import '@fontsource/roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-base-300;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-base-content/30 border-2 border-secondary rounded-xl;
  }
}

@layer utilities {
  /* Class is used for development and debugining purposes. */
  .dev {
    border: 2px solid red;
  }
}
